.so-widget-sow-icon-default-0c20769b9d6b .sow-icon {
  text-align: left;
}
.so-widget-sow-icon-default-0c20769b9d6b .sow-icon span,
.so-widget-sow-icon-default-0c20769b9d6b .sow-icon a span {
  display: inline-block;
  color: #1e73be !important;
  font-size: 30px !important;
}